
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header {
    display: flex;
    background: rgb(243, 88, 32, 1);
    width: 100%;
    height: 5vh;
    margin: auto;
    align-items: center;
}
.nav{
    font-weight: 400;
    margin: 8px;
}
.logo-container{
    flex: 1;
}
.logosize{
    width: 20%;
}
.body {
    font-family: 'Poppins', sans-serif;
    background-image: url('rumshak.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
    width: auto;
}
.about{
    display: flexbox;
    background: rgba(174, 243, 243, 0.637);
    align-items: center;
    list-style-position: inside;
    width: 50%;
    margin: auto;
    font-size: 18px;
}
.container {
    display: flex;
    min-height: 100vh;
}
h1 {
    font-family: 'Rum Raisin', sans-serif;
    font-size: 100px;
    background-image: linear-gradient(to bottom, yellow, orange, red);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
}
h2 {
    font-size: 40px;
    color: rgb(204, 28, 116);
}
h5 {
    font-size: 50px;
    text-align: center;
}